footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: pink;
    padding: 0.2rem;

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#version {
}

#playtime {
    flex-grow: 1;
}
