#chat-tab {
}

#chat-area {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    padding: 2rem;
    flex: 1;
}

#chat {
    overflow: hidden;
    flex: 1;
}

.my-message {
    text-align: right;
}
.connect-message {
    text-align: center;
}
.status-message {
    text-align: center;
}