footer {
    grid: footer;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: pink;
    padding: 0.1rem;
    flex: 0 1 auto;

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}
footer div {
    margin: 0.2rem;
}

#playtime {
}

#showX {

}
#showY {

}
.space-between {
    flex-grow: 1;
}

#version {
}
