html, body {
    margin: 0;
    display: flex;
    flex-flow: column;
    height: 100%;
}

h1 {
    margin: 0;
}

.hidden {
  display: none !important;
}

button:aktive {
    box-shadow: 0.1rem 0.1rem 0.1rem inset;
}
button:hover {
    transform: scale(1.1);
    box-shadow: 0.25rem 0.25rem 0.2rem #999;
}
button {
    background-color: lightcoral;
    border: none;
    border-radius: 0.2rem;
    box-shadow: 0.15rem 0.15rem 0.1rem #999;
}

#content-area {
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column
}

#login-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#login-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 20px 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  text-align: center;
}

#login-menu input {
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  padding: 3px;
  text-align: center;
}

#login-menu input:hover {
  outline: none;
}

#chat-area {
    display: flex;
    flex-direction: column;
}

#chat {
    resize: none;
    overflow: hidden;
    min-height: 300px;
    max-height: 300px;
}