
#tabs-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 0 0 auto;
}

.tab-button {
    padding: 0.5rem;
}
.tab-button:hover {
    cursor: pointer;
    background-color: lightblue;
}

#tabs-area {
    position: relative;
    flex-grow: 1;
    white-space: nowrap;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#tabs-area > * {
    width: 100%;
    display: inline-block;
}

#tabs-area[data-tab='0'] {
    left: 0%;
}
#tabs-area[data-tab='1'] {
    left: -100%;
}
#tabs-area[data-tab='2'] {
    left: -200%;
}